<!-- As a link -->
<nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
  </nav>
<h1 style="color:red">TRANSACTION HISTORY</h1>
<button class="btn btn-primary"routerLink="/home" style=" margin-left:850px">HOME PAGE</button>

<table style="color:white">
    <thead>
        <tr>
            <th>TYPE</th>
            <th>AMOUNT</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of transaction">
            <th>{{i.type}}</th>
            <th>{{i.amount}}</th>
        </tr>
    

    </tbody>
   </table>
   <br>
   <br>
   

